Westar/Item_EBS/PPLSFT_CRUD_Item_ABCS_prov/Common/xsd/CommonTypes_V1.0.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema targetNamespace="http://xmlns.westarenergy.com/core/CommonTypes/V1.0" xmlns="http://xmlns.westarenergy.com/core/CommonTypes/V1.0"
     elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="ReturnStatusDetailType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FormattedMessage" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ErrorDetail" type="ErrorDetailType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ErrorDetailType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ReturnCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ErrorMessage" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="AddressLine1" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AddressLine2" minOccurs="0" type="xsd:string"/>
            <xsd:element name="City" minOccurs="0" type="xsd:string"/>
            <xsd:element name="State" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PostalCode" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PostalCodeExt" minOccurs="0" type="xsd:string"/>
            <xsd:element name="PostalCodePlus4" minOccurs="0" type="xsd:string"/>
            <xsd:element name="Country" minOccurs="0" type="xsd:string"/>
            <xsd:element name="TownCode" minOccurs="0" type="xsd:string"/>
            <xsd:element name="CountyCode" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AddressBarcode" minOccurs="0" type="xsd:string"/>
            <xsd:element name="AddressBarcodeData" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartyType">
        <xsd:sequence>
            <xsd:element name="FullName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FirstName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="MiddleName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="LastName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ContactMethod" type="ContactMethodType" minOccurs="0"/>
            <xsd:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ContactMethodType">
        <xsd:sequence>
            <xsd:element name="CellPhone" type="PhoneType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Telephone" type="PhoneType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Fax" type="PhoneType" minOccurs="0"/>
            <xsd:element name="Email" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PhoneType">
        <xsd:sequence>
            <xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Number" type="xsd:string"/>
            <xsd:element name="EXT" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="primary" type="xsd:boolean" default="false"/>
    </xsd:complexType>
    <xsd:simpleType name="CurrencyCode">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3,3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="CurrencyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="code" type="CurrencyCode" default="USD"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="RequesterApplicationInformationType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The name of the top level process</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="InstanceID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The ID of the top level process</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ProcessThreadID" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The GUID ID assigned to the process</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SystemName" type="TopProcessSystemNameType">
                <xsd:annotation>
                    <xsd:documentation>the name of the system that started the process. For example did UC4 start this process or EBS.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LogLevel" type="LogLevelType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Log level of the Top Process</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="User" type="UserObjectType" minOccurs="0"/>
            <xsd:element name="Filename" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The filename of the file that initiated this process.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Timestamp for when the top process calls a service</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="LogLevelType">
        <xsd:annotation>
            <xsd:documentation>This is the classification of the logging level (i.e. 0=No Message Info; 1=Errors; 2=Errors/Warnings; 3=Errors/Warnings/Info; 4=Errors/Warnings/Info/Debug;
                      5=Errors/Warnings/Info/Debug/Statistics)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="UserObjectType">
        <xsd:annotation>
            <xsd:documentation>An object type to hold information about a user.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="UserID" type="xsd:string"/>
            <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Shortname" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Responsibility" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="TopProcessSystemNameType">
        <xsd:annotation>
            <xsd:documentation>Type that defines different origin processes</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="OSB"/>
            <xsd:enumeration value="MEDIATOR"/>
            <xsd:enumeration value="BPEL"/>
            <xsd:enumeration value="JAVA"/>
            <xsd:enumeration value="SQL"/>
            <xsd:enumeration value="PLSQL"/>
            <xsd:enumeration value="WEB"/>
            <xsd:enumeration value="USERREQUEST"/>
            <xsd:enumeration value="OTHER"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ComponentInstanceInformationType">
        <xsd:annotation>
            <xsd:documentation>It holds the data related to this instance of this program</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The name of the program that is running.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Operation" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The operation or method in the code that is being executed.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="InstanceID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The process ID of the instance of the program</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="User" type="UserObjectType" minOccurs="0"/>
            <xsd:element name="Parameters" type="PropertyListType" minOccurs="0"/>
            <xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Timestamp for when the program instance provides a response</xsd:documentation>
                </xsd:annotation>
            </xsd:element>

<!-- ProcessName can be used by non-Oracle SOA  
-->
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PayloadType">
        <xsd:annotation>
            <xsd:documentation>Conveys payloads as xsd:anyType</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Payload" type="xsd:anyType"/>
            <xsd:element name="Type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PropertyListType">
        <xsd:annotation>
            <xsd:documentation>A container for a list of Property objects</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PropertyType">
        <xsd:annotation>
            <xsd:documentation>A container for a generic property.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
            <xsd:element name="Sequence" type="xsd:integer" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
