Westar/Item_EBS/PPLSFT_CRUD_Item_ABCS_prov/SOA/Schemas/PPLSFT_CRUD_Item_ABCS_prov.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/Item_EBS/PPLSFT_CRUD_Item_ABCS_prov/PPLSFT_CRUD_Item_ABCS_prov"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>